GCP_PROJECT_ID=
GOOGLE_CLOUD_PROJECT=
GCP_PROJECT_REGION=
GOOGLE_CLOUD_LOCATION=
GOOGLE_GENAI_USE_VERTEXAI=1

SERVICE_ALLOWED_ORIGIN=http://localhost:3000

# https://programmablesearchengine.google.com/u/2/controlpanel/all
AGENT_SEARCH_ENGINE_ID=
# https://developers.google.com/custom-search/v1/introduction
AGENT_SEARCH_ENGINE_KEY=

STORAGE_DATABASE_NAME=
STORAGE_COLLECTION_RECIPE_NAME=
STORAGE_COLLECTION_USER_NAME=
STORAGE_COLLECTION_SESSION_NAME=
