GCP_PROJECT_ID=
GOOGLE_CLOUD_PROJECT=
GCP_PROJECT_REGION=
GOOGLE_CLOUD_LOCATION=
GOOGLE_GENAI_USE_VERTEXAI=1

SERVICE_ALLOWED_ORIGIN=http://localhost:3000
TELEMETRY_LOG_LEVEL=debug
TELEMETRY_CLOUD_ENABLED=false
TELEMETRY_TRACING_ENABLED=false

STORAGE_DATABASE_NAME=recipedex
STORAGE_COLLECTION_RECIPE_NAME=recipe
STORAGE_COLLECTION_USER_NAME=user
STORAGE_COLLECTION_SESSION_NAME=session
