GCP_PROJECT_ID=
GCP_PROJECT_REGION=
GOOGLE_GENAI_USE_VERTEXAI=1

SERVICE_ALLOWED_ORIGIN=http://localhost:3000

AGENT_MEMORY_CORPUS=
AGENT_ARTIFACT_BUCKET=

STORAGE_DATABASE_NAME=
STORAGE_COLLECTION_RECIPE_NAME=
STORAGE_COLLECTION_USER_NAME=
