.navbar-brand {
    margin: 0 auto;
}

.recipe-image {
    height: 40px;
    border-radius: 5px;
    margin-top: -10px;
    opacity: 0.6;
}

.recipe-image:hover{
    opacity: 1;
}

small i{
    cursor: pointer;
}

@media (max-width: 756px) {
    .recipe-image{
        margin-top: 0px !important;
    }
}
