@import url(style/light.css);
@import url(style/dark.css);

body {
  margin: 0;
}

:root {
  --md-ref-typeface-brand: 'Roboto Flex', sans-serif;
  --md-ref-typeface-plain: 'Roboto Flex', sans-serif;

  font-family: var(--md-ref-typeface-plain);
  font-size: 14px;

  min-height: 100vh;

  background: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}

html:not(.light):not(.dark) {
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
}

html.theme-ready.light, html.theme-ready.dark {
  transition: background-color .25s ease, color .25s ease;
}

md-list {
  background-color: inherit !important
}

md-dialog form {
  padding-top: 8px;
}
